body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.mx-5 {
    margin-left: 20px;
    margin-right: 20px;
}

.my-5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

label.label-fix{
    font-size: 18px; 
    margin-top: 15px;
}